button
{
  font-size:10px ;
  border-radius: 10%;
}

.mat-header-cell{
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:10%;
}

.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:50%;
}
.mat-cell:nth-child(3){
  padding-right: 20px;
}

.mat-header-cell:last-child,.mat-cell:last-child{
  flex:20%
}
.mat-header-cell:last-child{
  padding-left: 80px;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}
