<p mat-dialog-title >
    Data Protection
  </p>

  <div mat-dialog-content>
  <p>
  Please take note of the information below so that you know which data we collect from you and for what
  purposes it is used.</p>
  <h6>a. when you visit our website</h6>
  <p>The following data is collected and stored, without any action on your part, until it is automatically
  deleted by us after 12 months at the latest:</p>
  <ul>
    <li>the IP address of the accessing computer</li>
    <li>the time and date of access</li>
    <li>the name and URL of the file called up</li>
    <li>the website from which access is made</li>
    <li>the operating system of your computer and the browser used</li>
    <li>the country from which access is made and the language settings of your browser</li>
    <li>the name of your Internet access provider</li>
  </ul>
  <p>
  The said data is collected and processed for the purpose of allowing you to use our website (establishing
  a connection), ensuring system security and stability in the long term and allowing our Internet offering
   to be optimised, as well as for internal statistical purposes. This is our legitimate interest in the
   processing of data within the meaning of Art
  </p>
  <h6>
      b. when you use our contact form
  </h6>
  <p>
  You have the option of using a contact form to get in touch with us. Doing so requires that you enter the
  following personal data:
  </p>
  <ul>
      <li>Title</li>
      <li>First name and surname</li>
      <li>Address (street, number, town/city, postcode) (optional)</li>
      <li>Telephone number (optional)</li>
      <li>E-mail address</li>
  </ul>
  <p>
  We only use this data in order to answer your queries in an optimum manner and in a way that is tailored
   to you. The processing of your contact request constitutes our legitimate interest within the meaning of
   Art.
  </p>
  </div>

  <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" color="primary">Ok</button>
  </div>
