
<footer class="footer-distributed">

  <div class="footer-left">

    <h5 class="bd-highlight">Legal information</h5>
    <hr width="95%">
 <div class="d-flex flex-column mb-3">
    <button mat-button class="p-2 text-left" (click)="openDialogTermsOfUse()">Terms of use</button>
    <button mat-button class="p-2 text-left" (click)="openDialogDataProtection()">Data protection</button>
    <button mat-button class="p-2 text-left" (click)="openDialogPrivacy()">Privacy policy</button>
</div>

  </div>

  <div class="footer-center">
      <h5 class="bd-highlight">More Pages</h5>
      <hr>
      <div class="d-flex flex-column  mb-3">
          <div class="reservation p-1">
              <a href="https://tn.tunisiebooking.com" target="black" >Tunisie Booking</a>
            <hr>
          </div>
          <div class="reservation p-1">
              <a href="https://www.destinationtunisie.info" target="black" >DestinationTunisie</a>
            <hr>
          </div>
          <div class="reservation p-1">
            <a href="http://www.promohotel.tn/" target="black" >Promohotel</a>
            <hr>
          </div>
          <div class="reservation p-1">
          <a href="https://www.hotelstunisie.tn/" target="black" >Hotelstunisie</a>
            <hr>
          </div>
      </div>

  </div>

  <div class="footer-right">
      <h5 class="bd-highlight">Contact</h5>
      <hr width="95%">

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form>



    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>

    </div>

  </div>

<div class="footer-copyright text-center py-3"><small class="bot"> &copy; 2019  Visit Tunisia . All Rights reserved </small> </div>

</footer>
