p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
h1{
  font-weight: bold;
}
button{
  font-weight: bold;
}
ul{
list-style-type: square;
}
ul li span{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  font-size: 18px;
  color: blue;
}
ul li{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
