<p mat-dialog-title >Please read the following conditions carefully before continuing. Persons who log on to our website of
  Tunisia Tourism signify their agreement to the following conditions.
</p>
<div mat-dialog-content>
<h6>
    Copyright and trademark rights
</h6>
<p>The entire content of our website is copyright protected. All rights are owned by
  Tunisia Tourism or third parties. The elements contained on our website are freely accessible for browsing
  purposes only. Duplication of this material, or parts thereof, in any written or electronic form is permitted
  only with a specific mention of Us. Reproduction, transfer, amendment, linking or use of our website for
  public or commercial purposes is prohibited without the prior written consent of Tunisia Tourism.
  The various names and logos appearing on the MySwitzerland.com site are generally registered and protected
  trademarks. No part of our website is designed in such a way as to grant a licence or right to utilise a
  picture, registered mark or logo. Downloading or copying our website or parts thereof, confers no rights
  whatsoever in respect of the software or elements of our website. Tunisia Tourism reserves all rights in
  respect of all elements of the website with the exception of rights belonging to third parties.</p>
  <h6>
      No warranty
  </h6>
  <p>
  Although Tunisia Tourism has taken all possible care to safeguard the reliability of the information
  contained on our website at the time of its publication, neither Tunisia Tourism nor its contracting
  partners can give any explicit or implicit assurance or warranty (including to thirdparties) in respect
  of the accuracy, reliability or completeness of the information on our website.
  Opinions and other information contained on our website may be changed at any time withoutprior notice.
  Tunisia Tourism accepts no responsibility and gives no guarantee to the effect that the functions on
  our website will not be interrupted or that our website or the relevant
  server is or are free from viruses or other harmful contents.
  </p>
  <h6>
      Limitation of liability
  </h6>
  <p>
  All liability of Tunisa Tourism (including liability for negligence) for direct, indirect or secondary
  damage suffered as a result of access to the elements of our website or to use of that site or as a
  consequence of impossibility of access to or use thereof or links to other websites, is hereby declined.
  </p>
  <h6>
    Links to other websites
  </h6>
  <p>
  Our website contains links to websites operated by third parties which might be of interest to you.
  When activating these links you might leave our website or summaries of third-party websites may be
  displayed within the context of our website.Tunisa Tourism has not carried out any checks whatsoever on
  the websites of third parties accessible via links on our website and is in no way responsible for their
  content or effective operation. This applies regardless of whether when activating the link you leave
  our website or the display appears within the context of the website, as well as if in the latter case the
  information provider of an external website is not immediately obvious. Establishing the link or consulting
  websites operated by third parties is at the sole risk and peril of the user.<br>
  <strong>Netiquette</strong> We do not want to see any infringing, offensive or unlawful statements and discussions in our
  timeline. If user, our company or any third parties are defamed, we reserve the right to delete these
  posts without comment, because they do not comply with netiquette.
  </p>
</div>

  <div mat-dialog-actions>
      <button mat-stroked-button (click)="onNoClick()" color="primary">Ok</button>
      
  </div>
