<div class="container-fluid">
  <app-image-slide></app-image-slide>
</div>

<div class="container ml-50">
  <div class="card-deck">
    <mat-card class="example-card" *ngFor="let placecard of placescards ;let j=index">
      <mat-card-header>
        <div mat-card-avatar *ngIf="placecard.images[0]" class="example-header-image">
          <img src={{placecard.images[0].url}} alt="">
        </div>
        <mat-card-title>{{placecard.place.name}}</mat-card-title>
        <mat-card-subtitle>{{placecard.state?.name}}</mat-card-subtitle>
      </mat-card-header>
      <div id="{{'carouselExampleIndicators'+placecard.id +j }}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to={{k}} [ngClass]="{'active': k===0}"
            *ngFor="let k of placecard.indexes;"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{'active': i===0}" *ngFor="let image of placecard.images; let i=index">
            <img class="d-block w-100" src={{image.url}} alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="{{'#carouselExampleIndicators'+placecard.id+ j }}" role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="{{'#carouselExampleIndicators'+placecard.id +j }}" role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <mat-card-content class="mt-3">
        <p>
          {{placecard.place.description}}
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>


      
      <mat-card-actions>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="onLike(placecard);" [ngStyle]="{'color': placecard.reaction.is_like === 1 ? 'palevioletred' : 'black' }" >
          <i class="material-icons">favorite_border</i>
        </button>
        <button mat-icon-button (click)="onFavoris(placecard);"  [ngStyle]="{'color': placecard.reaction.is_favoris === 1 ? '#FFD300' : 'black' }">
          <mat-icon class="material-icons"> star_border </mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="verifAdherent()">
          <mat-icon class="material-icons"> add_circle_outline </mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let collection of collections;"
            (click)="addPlaceToCollection(collection,placecard.place)">{{collection.name}}
          </button>
          <button mat-raised-button  class="" color="accent" (click)="onCreateCollection(placecard.place.id)">New Collection</button>
        </mat-menu>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
